ul{
    list-style-type: none;
    margin: 0;
     padding: 0;
     overflow:hidden;
}

li{
    float: left;
    padding: 14px 14px;
}

li a{
    text-decoration: none;
    padding: 5px 5px;
    text-align: center;
    color: white;
}

